body {
  margin: 2em;
}

body, input[text], button {
  color: crimson;
  font-family: Cambria, Georgia;
}

h2 {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

button {

  &.clear {
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
  }

  &:hover {
    background-color: #cfd8dc;
  }

  &:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
  }

  &.clear {
    color: #888;
    margin-bottom: 12px;
  }

}
