// Базовые стили текста для всего приложения
%basic-styles {
  color: #888;
  font-family: Cambria, Georgia;
}

%other-styles {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 2.0em;
  @extend %basic-styles;

  * {
    @extend %other-styles;
  }

  h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }

  h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }

  input[type="text"], button {
    @extend %basic-styles;
  }

}


