.selected {
  background-color: #CFD8DC !important;
  color: white;
}

.heroes {
  margin: 0 0 2em 0;
  list-style: none;
  padding: 0;
  width: 15em;

  li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;

    &.selected:hover {
      background-color: #607D8B;
      color: white;
    }

    &:hover {
      background-color: #DDD;
      color: #607D8B;
      left: .1em;
    }

  }

  a {
    color: #888;
    text-decoration: none;
    position: relative;
    display: block;
    width: 250px;

    &:hover {
      color:#607D8B;
    }

  }

  .text {
    position: relative;
    top: -3px;
  }

  .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: .8em .7em 0 .7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }

}

button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;

  &:hover {
    background-color: #cfd8dc;
  }

  &.delete {
    position: relative;
    left: 194px;
    top: -32px;
    background-color: gray !important;
    color: white;
  }

}
